build:
  type: text
  content: |-
    #!/bin/sh

    # make all
    # docker build
    docker build -f .devcontainer/Dockerfile -t .devcontainer:$GIT_COMMIT_ID .devcontainer 
    docker tag .devcontainer:$GIT_COMMIT_ID  .devcontainer:$ROOST_NAMESPACE  
deploy:
  type: text
  content: |+
    #!/bin/sh

    docker run  -d -p 30378:8080 --name petclinic .devcontainer:$ROOST_NAMESPACE


test:
  - name: petclinic
    configType: maven
    configPath: /
uninstall:
  type: text
  content: |-
    #!/bin/sh

    docker kill petclinic
dockerCompose: ''
lastUpdatedBy: Garvit Jethwani
lastUpdatedOn: 2023-07-21T12:56:42.244Z
